
*,
*::before,
*::after {
  box-sizing: border-box;
}


.line-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #3f3f3f;
}

.load{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.2em;
}
.line {
  position: absolute;
  width: $line-width;
  height: 350%;
  background-color: $line-color;
  transform: rotate($line-rotation);
  animation: moveDown $animation-duration linear infinite ;
  -webkit-animation: moveDown $animation-duration linear infinite ;
}

// Spacing the lines horizontally
@for $i from -1 through 10 {
  .line:nth-child(#{$i}) {
    left: (10% * (2 * $i - 1)); // Adjusting left spacing for each line
  }
}


// Keyframes for infinite animation
@keyframes moveDown {
  0% {
    top: -200%;
  }
  100% {
    top: 100%;
  }
}
