$main-color:#ffffff;
$dark-color:#000;
$gray-color-text:rgba(0,0,0,.5);
$gray-bg:#F2F2F2;
$hover-color:#fd8f5f;

// loader
$line-width: 1px;
$line-color: rgba(255, 255, 255, 0.151);
$line-rotation: 45deg;
$animation-duration: 55s;

// dark and light mode 
$dark-mode:#000;
$light-mode:#fff;