.card2 {
    width: 380px;
    height: 380px;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card2:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .card2 .im2 {
    width: 100%;
    height: 56%;
    object-fit: cover;
    border-radius: 16px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s ease-in-out;
        -webkit-transition: transform 1s ease-in-out;
        -moz-transition: transform 1s ease-in-out;
        -ms-transition: transform 1s ease-in-out;
        -o-transition: transform 1s ease-in-out;
}
    img:hover{
      transform: scale(1.1);
       
    }
  }
  
  .card__content2 {
    padding: 1rem;
  }
  
  .card__title2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .card__description2 {
    font-size: 1rem;
    color: #666;;
  }
  
// .add2{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }