.wrapper_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
    input {
        height: 3.5em;
        border: 0;
        outline: 0;
        background: $gray_bg;
        padding-inline-start: 1.5em;
        border-radius: 0.8em;
    }
}
.PhoneInput {
    gap: 1em;
    .PhoneInputCountry {
        background: $gray_bg;
        border-radius: 0.8em;
        height: 3.2em;
        padding-inline: 1em;
    }
}
